<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="static/css/bootstrap.css">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

    <title>Results</title>

    <style>
        body {
            background-image: url("static/images/controller_wallpaper.jpg");
            background-size: auto;
        }
    </style>



</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html"> Home </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <!-- <a class="nav-link active" href="#">Home -->
                        <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="videogame_buddy.html">Videogame Buddy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="browse_games.html">Browse Videogames</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

    <br>
    <br>

    <div class="row justify-content-md-center">
        <!-- <img src="images/nintendo2.svg" style="max-width:300px"> -->
        <div class="col-lg-7">

            <div class="container-fluid border-primary" style="padding-left:30px; padding-right:30px">
                <div class="card border-info mb-3" style="min-width:300px">
                    <div class="card-header">Your Results Will Appear Here!</div>
                    <div class="card-body">
                        

                    </div>
                </div>
            </div>
        </div>
    </div>






    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

</body>

</html>