<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="bootstrap.css">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

  <title>Homepage</title>

  <style>
    body {
      background-image: url("images/arcade.jpg");
    }

    .navbar-custom {
      background-color: rgb(176, 14, 212);
    }

  </style>



</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
    <div class="container-fluid">
      <a class="navbar-brand" href="index.html"> Home </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <!-- <a class="nav-link active" href="#">Home -->
            <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="videogame_buddy.html">Videogame Buddy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="browse_games.html">Browse Videogames</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="background4.html">background 4</a>
          </li>

        </ul>


      </div>
    </div>
  </nav>
<!-- 
  <div class="alert alert-dismissible alert-info">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>Welcome to Videogame Buddy!</strong> Have you ever found THE PERFECT game and played it into oblivion, 
    only to have it end and force you to stare into the void of what to do with your life now that your favorite
    story is over?... I have! Videogame Buddy would like to hear about your favorite video games, and see if they
    can offer you some new games to play that are similar!
  </div> -->
  <br>
  <br>
  <div class="container-sm greeting">
    <br>
    <div class="row justify-content-md-center">
      <!-- <div class="col-sm-2"></div> -->
      <div class="col-lg-6 text-center" style="color:aliceblue; opacity:100%">
        <h2>Welcome to the <br> Videogame Buddy Arcade!</h2>
        <p>Have you ever played THE PERFECT game, sunk countless hours into it, only to have it end, which
          forces you to stare into the void of what to do with your free time now that your favorite
          story is over?... well we have!
          Videogame Buddy would like to hear about your favorite video games, and see if they
          can offer you some new games to play that are similar!</p>
        <br>
        <div class="d-grid gap-2">
          <button class="btn btn-lg btn-dark btn-outline-primary" type="button"><a class="nav-link" href="videogame_buddy.html">Enter the Arcade</a></button>
        </div>

      </div>
    
    </div>
    <br><br>
  </div>


  <br>
  <br>














  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

</body>

</html>