<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="bootstrap.css">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

  <title>Browse Videogames</title>

  <style>
    body {
      background-image: url("images/carpet_design.webp");
    }

  </style>



</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="index.html"> Home </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <!-- <a class="nav-link active" href="#">Home -->
            <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="videogame_buddy.html">Videogame Buddy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="videogame_data.html">Browse Videogames</a>
          </li>
        </ul>

        <form class="nav-item d-flex">
          <a class="nav-link" href="data.html">Data</a>
          </li>
      </div>
    </div>
  </nav>

  <br>
  <br>


  
  <div class="row justify-content-md-center">
    <div class="col-lg-5">
      <div class="container-fluid border-primary" style="padding-left:30px; padding-right:30px">
        <div class="card border-success mb-3" style="min-width:300px">
          <div class="card-header">Browse videogames by searching!</div>
          <div class="card-body">
            <h4 class="card-title">Start Typing Here</h4>
            <form class="d-flex">
                <input class="form-control me-sm-2" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
              <div>
                <table border="1" class="dataframe table table-striped">
                  <thead>
                    <tr style="text-align: none;">
                      <th>Title</th>
                      <th>Genre</th>
                      <th>Platforms</th>
                      <th>ESRB Rating</th>
                      <th>ESRBs</th>
                      <th>Number of Players</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th>Burnout 3: Takedown</th>
                      <td>Driving, Racing, Arcade</td>
                      <td>Xbox</td>
                      <td>T</td>
                      <td>Mild Language Mild Violence</td>
                      <td>1-2 Players, 8 Players Online</td>
                    </tr>
                    <tr>
                      <th>Jet Grind Radio</th>
                      <td>Action, Platformer, 3D</td>
                      <td>Dreamcast</td>
                      <td>T</td>
                      <td>Animated Violence Mild Language</td>
                      <td>1 Player</td>
                    </tr>
                    <tr>
                      <th>Metal Gear Solid 4: Guns of the Patriots</th>
                      <td>Action Adventure, Modern, General, Modern</td>
                      <td>PlayStation 3</td>
                      <td>M</td>
                      <td>Blood Crude Humor Strong Language Suggestive Themes Violence</td>
                      <td>1 Player, 16 Players Online Up to 16 Players</td>
                    </tr>
                    <tr>
                      <th>Tom Clancy's Splinter Cell Chaos Theory</th>
                      <td>Action Adventure, Modern</td>
                      <td>Xbox</td>
                      <td>M</td>
                      <td>Blood Strong Language Violence</td>
                      <td>1-4 Players, 4 Players Online</td>
                    </tr>
                    <tr>
                      <th>Call of Duty: Modern Warfare 2</th>
                      <td>Action, Shooter, Shooter, First-Person, Modern, Modern, Arcade</td>
                      <td>Xbox 360</td>
                      <td>M</td>
                      <td>Blood Drug Reference Intense Violence Language</td>
                      <td>Up to 18 Players</td>
                    </tr>
                    <tr>
                      <th>NCAA Football 2004</th>
                      <td>Sports, Traditional, Football, Sim</td>
                      <td>PlayStation 2</td>
                      <td>E</td>
                      <td></td>
                      <td>1-8 Players</td>
                    </tr>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

</body>

</html>